# SmartShelf Environmental Configuration
# INSTRUCTIONS: Copy this file to .env and fill in your real credentials

# AWS Credentials (REQUIRED for Live Mode)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# AWS Regional Settings
AWS_SNS_REGION_NAME=us-east-1
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:719220526263:SmartShelf_Alerts:75da5829-5f75-4217-89e5-edc7d6983530

# Django Settings (Optional for developer testing)
# DJANGO_SECRET_KEY=yoursecretkeyhere
# DEBUG=True
