# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environments
.env
.venv
venv/
venv_win/
env/
ENV/

# AWS Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
deploy.zip

# Git
.DS_Store
scratch/
SmartShelfProject/