option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: smartshelf_project.wsgi:application

container_commands:
  01_bootstrap:
    command: "source /var/app/venv/*/bin/activate && python bootstrap.py"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true